/*
	Add form
*/
.add-form {
	display: flex;
	flex-direction: column;
	@media all and (min-width: 769px) {
		padding: 30px 0;
		flex-direction: row;
	}

	&__container {
		padding: 30px 15px;
		position: relative;
		@media all and (min-width: 769px) {
			padding: 0 30px;
		}

		& + & {
			&:after {
				content: '';
				height: 1px;
				width: 100%;
				background: $gray-medium;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0.65;
				@media all and (min-width: 769px) {
					height: 100%;
					width: 1px;
					animation: growVertical 0.4s ease-out forwards;
				}
			}
		}
	}

	.form-submit {
		margin-top: 2rem;
		text-align: center;

		.btn {
			width: 100%;
			@media all and (min-width: 769px) {
				width: 50%;
			}
		}

		&.disable {
			.btn {
				pointer-events: none;
				background: $gray-medium;
			}
		}
	}
}
