/*
	Header
*/
.header {
	background: $primary-color;
	color: $white;
	padding: 26px 0 0;
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);

	h1 {
		padding: 0 15px 15px;
		margin: 0 0 20px;
		font-weight: 300;
		@media all and (min-width: 768px) {
			margin: 0;
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		padding: 0;
		@media all and (min-width: 768px) {
			padding: 0 15px;
			flex-direction: row;
		}
	}
}

/*
	Nav
*/
.nav {
	position: relative;
	@media all and (min-width: 768px) {
		margin-top: 6px;
		margin-left: auto;
	}

	&-links {
		@include reset-ul;
		display: flex;

		li {
			width: 50%;
			text-align: center;
			@media all and (min-width: 768px) {
				width: auto;
				text-align: left;
			}
		}

		a {
			display: block;
			padding: 0 15px;
			height: 48px;
			line-height: 48px;
			color: $white;

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}

	&-indicator {
		width: 100px;
		height: 4px;
		background: $white;
		position: absolute;
		bottom: 0;
		left: 0;
		will-change: transform;

		&-animate {
			transition: transform 0.3s ease;
		}
	}
}
